table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: .5rem;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

table button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: .25rem;
    padding: .5rem;
    cursor: pointer;
}

input[type="text"] {
    padding: 5px;
}

body {
    padding: 3em;
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2rem;
}

.toolbar button {
    margin-left: .25rem;
    height: 100%;
}

form {
    padding: 1rem;
    width: 25rem;
    margin-top: 1rem;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.input-box {
    display: inline-flex;
    flex-direction: column;
}

form button {
    margin-top: .3rem;
}
